extends layout.pug

block content
        
        form(action="/hello", method="post")
            label Please enter your name here: 
                input(type="test", name="username")
            button(type="submit") Submit
